python-ldap
flask-appbuilder
apache-airflow-providers-mysql==5.4.0
mysqlclient==2.1.0
# apache-airflow-providers-mysql
apache-airflow-providers-microsoft-mssql
apache-airflow-providers-celery
plyvel
selenium
jsonlines
sqlalchemy
pymysql
-e git+https://github.com/LCBRU/lbrc_selenium.git@main#egg=lbrc_selenium
-e git+https://github.com/LCBRU/lbrc_edge.git@main#egg=lbrc_edge
