python-ldap
flask-appbuilder
apache-airflow-providers-microsoft-mssql
plyvel
selenium
sqlalchemy
-e git+https://github.com/LCBRU/lbrc_selenium.git@main#egg=lbrc_selenium
-e git+https://github.com/LCBRU/lbrc_edge.git@main#egg=lbrc_edge
